#bg {
  /* display:none; */
  background-image: url('../images/veggies.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#overlay {
  background-color: black !important;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

body {
  background-color: transparent !important;
}

html {
  height: 100%;
}

body, h1, h3, h4, h5, #home, #meals, #drinks, #results {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Julius Sans One', sans-serif;
}

.bg-dark {
  border-radius: 20px;
  padding: 5px 10px 0px 10px;
}

.background {
  border-radius: 20px;
  padding: 5px 10px 0px 10px;
  background-color: #343a40;
}

.dropdown_css {
  border-radius: 20px;
}

#ready_b {
  font-size: 35px;
  box-sizing: content-box;
  padding: 15px 34px;
  border-radius: 20px;
  width: 430px;
  margin: 0px;
  height: 47px;
  margin: auto;
  background-color: #920415 !important;
}

#search_b {
  font-size: 27px;
  box-sizing: content-box;
  padding: 12px;
  border-radius: 20px;
  /* width: 70px; */
  margin: 0px;
  height: 57px;
  background-color: #920415 !important;
}

#search_bar_button {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

#ready_b:hover {
  background-color: #c20319 !important;
}

.all_headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 95px;
}

html {
  height: 100%;
  width: 100%;
}

head {
  height: 100%;
  width: 100%;
}

.nav_fix {
  padding: 0px;
}

.uk-container {
  height: 100%;
  width: 100%;
}

.navo {
  margin: auto;
  /* width: max-content; */
}

.box {
  margin: auto;
  /* width: max-content; */
}

.uk-background-fixed {
  min-height: 100%;
  height: fit-content;
  width: 100%;
}

.w-box {
  width: 77px;
}

.big-box {
  margin: 0px auto;
  /* width: max-content; */
  /* width: 522px; */
}

.w {
  width: 100%;
}

.w1 {
  width: 100%;
  margin-top: 15px;
}

#no_results {
  text-align: center;
  display: flex;
  border-radius: 20px;
  font-size: 45px !important;
  color: white;
  width: 60% !important;
  margin-top: 200px;
  justify-content: center;
  background-color: #920415 !important;
}

#search_i {
  font-size: 27px;
  max-width: 600px !important;
}

#search_f {
  margin-top: 0px;
}

#meal_recipe_img {
  margin: 20px;
}

#drink_recipe_img {
  margin: 20px;
}

#search_results_row {
  display: flex;
  justify-content: center;
}

.uk-container {
  width: unset;
}

#meal_recipe_img {
  margin: 0px !important;
}

/** Mobile **/

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  #ready_b {
    font-size: 20px;
    width: 250px;
    padding: 10px;
  }
  .nav_bar {
    height: 65px;
    width: 275px;
  }
  .nav_buttons {
    height: 50px !important;
    padding: 0px 11px!important;
    font-size: 12px !important;
    min-height: 20px !important;
  }
  .uk-width-large {
    width: 250px;
  }
  nav {
    height: 0px;
  }
  h1 {
    font-size: 30px;
    width: 250px;
  }
  h3 {
    font-size: 15px;
    max-width: 350px !important;
  }
  #search_i {
    font-size: 20px !important;
    max-width: 265px !important;
    height: 50px;
  }
  #search_b {
    font-size: 14px !important;
    max-width: 330px !important;
    padding: 5px;
    width: 70px;
    margin: 0px;
    height: 42px;
    /* height: 30px; */
  }
  #no_results {
    font-size: 23px !important;
    margin-top: 0px !important;
  }
  #search_results_row {
    display: flex;
    justify-content: center;
  }
  /* #no_results {
        font-size: 25px;
        width: 400px;
    } */
}

/* margin: auto; width: 600px; */

/** Tablet **/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* #no_results {
        font-size: 55px;
        width: 723px;
    } */
}

/** Tablet (landscape) **/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

@media screen and (min-width: 768px) {
  /* #no_results { */
  /* font-size: 30px; */
  /* width: 723px; */
}

/* #search_i {
    font-size: 40px;
    width: 600px;
  } */

}

/* @media screen and (max-width: 768px) {
  #no_results {
    font-size: 23px;
    margin-top: 0px;
  }
  #search_results_row {
    display: flex;
    justify-content: center;
  }
  #meal_recipe_img {
    margin: 0px;
  }
  #drink_recipe_img {
    margin: 0px;
  }
} */