#bg {
  /* display:none; */
  background-image: url('../images/veggies.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

ol, ul {
  padding-left: 10px;
}

#overlay {
  background-color: black !important;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

body {
  background-color: transparent !important;
}

html {
  height: 100%;
}

body, h1, h3, h4, h5, #home, #meals, #drinks, #results {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Julius Sans One', sans-serif;
}

.bg-dark {
  border-radius: 20px;
  padding: 5px 10px 0px 10px;
}

.background {
  border-radius: 20px;
  padding: 5px 10px 0px 10px;
  background-color: #343a40;
}

.dropdown_css {
  border-radius: 20px;
}

#ready_b {
  font-size: 35px;
  box-sizing: content-box;
  padding: 15px 34px;
  border-radius: 20px;
  width: 430px;
  margin: 0px;
  height: 47px;
  margin: auto;
  background-color: #920415 !important;
}

#search_b {
  font-size: 27px;
  box-sizing: content-box;
  padding: 12px;
  border-radius: 20px;
  /* width: 70px; */
  margin: 0px;
  margin-left: 10px;
  height: 53px;
  background-color: #920415 !important;
}

#search_b:hover {
  background-color: #a50518 !important;
}

#search_bar_button {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

#ready_b:hover {
  background-color: #a50518 !important;
}

.all_headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 95px;
}

html {
  height: 100%;
  width: 100%;
}

head {
  height: 100%;
  width: 100%;
}

.nav_fix {
  padding: 0px;
}

.uk-container {
  height: 100%;
  width: 100%;
}

.box {
  margin: auto;
  /* width: max-content; */
}

.uk-background-fixed {
  min-height: 100%;
  height: fit-content;
  width: 100%;
}

.w-box {
  width: 77px;
}

.big-box {
  margin: 0px auto;
  /* width: max-content; */
  /* width: 522px; */
}

.w {
  width: 100%;
}

.w1 {
  width: 100%;
  margin-top: 15px;
}

#no_results {
  text-align: center;
  display: flex;
  border-radius: 20px;
  font-size: 30px !important;
  color: white;
  /* width: % !important; */
  margin-top: 65px;
  max-width: 500px;
  justify-content: center;
  padding: 20px;
  background-color: #920415 !important;
  border: 0px;
}

#no_results_2 {
  text-align: center;
  display: flex;
  border-radius: 20px;
  font-size: 30px !important;
  color: white;
  /* width: % !important; */
  margin-top: 65px;
  max-width: 300px;
  justify-content: center;
  padding: 20px;
  background-color: #920415 !important;
  border: 0px;
}

#no_results:hover {
  background-color: #a50518 !important;
}

#results_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#meal_recipe_d {
  width: 50%;
}

#drink_recipe_d {
  width: 50%;
}

#search_i {
  font-size: 27px;
  max-width: 600px !important;
}

.img_container {
  display: flex;
  justify-content: center;
}

#search_f {
  margin-top: 0px;
}

#meal_recipe_img, #drink_recipe_img {
  border-radius: 20px;
  margin: 20px;
}

#search_results_row {
  display: flex;
  justify-content: center;
}

.uk-container {
  width: unset;
}

#drink_recipe_name, #meal_recipe_name {
  margin-top: 0px;
  /* margin-bottom: 0px; */
  font-size: 30px;
  font-weight: bold;
}

#drink_recipe_name_d, #meal_recipe_name {
  margin-bottom: 0px !important;
}

h4 {
  margin-bottom: 0px !important;
}

#drink_ingredient_container, #meal_ingredient_container {
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  opacity: .9;
  /* margin-bottom: 50px; */
  font-weight: bold;
  /* color: black; */
}

#drink_instuctions_container, #meal_instuctions_container {
  /* font-size: 14px !important; */
  border-radius: 15px;
  width: 100%;
  margin-top: 15px;
  color: black;
}

/** Mobile **/

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  #ready_b {
    font-size: 20px;
    width: 250px;
    padding: 10px;
  }
  .nav_bar {
    height: 65px;
    width: 275px;
  }
  .nav_buttons {
    height: 50px !important;
    padding: 0px 11px!important;
    font-size: 12px !important;
    min-height: 20px !important;
  }
  .uk-width-large {
    width: 290px;
  }
  nav {
    height: 0px;
  }
  h1 {
    font-size: 30px;
    width: 250px;
  }
  h3 {
    font-size: 15px;
    max-width: 380px !important;
  }
  #search_i {
    font-size: 20px !important;
    max-width: 265px !important;
    height: 50px;
  }
  #search_b {
    font-size: 14px !important;
    max-width: 330px !important;
    padding: 5px;
    width: 70px;
    margin: 0px;
    height: 40px;
    margin-left: 5px;
  }
  #no_results, #no_results_2 {
    font-size: 20px !important;
    margin-top: 0px !important;
    max-width: 350px;
  }
  #no_results_2 {
    font-size: 20px !important;
    margin-top: 0px !important;
    max-width: 170px;
  }
  #search_results_row {
    display: flex;
    justify-content: center;
  }
  #drink_recipe_name, #meal_recipe_name {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  #drink_ingredient_container, #meal_ingredient_container {
    font-size: 14px;
  }
  #drink_instuctions_container, #meal_instuctions_container {
    font-size: 14px !important;
    border-radius: 15px !important;
    width: 100%;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) {
  #no_results, #no_results_2 {
    font-size: 55px;
    width: 723px;
  }
}

@media screen and (max-width: 600px) {
  #results_container {
    flex-direction: column;
    justify-content: center;
  }
  #meal_recipe_d, #drink_recipe_d {
    width: 100%;
  }
  #drink_instuctions_container, #meal_instuctions_container {
    width: 100%;
  }
}