#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

body {
    background-color: transparent !important;

  }

html {
    height: 100%;
}

body, h1, h3, h4, h5, #home, #meals, #drinks, #results{
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Molengo', sans-serif; */
    /* font-family: 'Bad Script', cursive; */
    font-family: 'Julius Sans One', sans-serif;
}



.bg-dark {

    border-radius: 20px;
    padding: 5px 10px 0px 10px ;

}

.background {

    border-radius: 20px;
    padding: 5px 10px 0px 10px ;
    background-color: #343a40;

}

.dropdown_css {
    border-radius: 20px;
}



#ready_b{
    font-size: 40px;
    box-sizing: content-box;
    padding: 15px 34px;
    border-radius: 20px;
    width: 525px;
    margin: 0px;
    height: 47px;
}

#ready_b:hover {
    background-color: #c14d5b;
}
.all_headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 95px;
}



html{
    height: 100%;
    width: 100%;
}

head{
    height: 100%;
    width: 100%;
}



.uk-container{
    height: 100%; 
    width: 100%;
}

.navo{
    margin: auto; 
    width: max-content;
}

.box{
    margin: auto; 
    width: max-content;
}

.red{
    background-color: #c20018;
}

.uk-background-fixed{
    min-height: 100%; 
    height: fit-content; 
    width: 100%;
    
}

.w-box{
    width: 77px;
}

.big-box{
    margin: auto; 
    width: max-content;
    width: 522px;  
}

.w{
    width: 100%;
}

.w1{
    width: 100%; 
    margin-top: 15px;
}

/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {



}

/** Tablet **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {



}

/** Tablet (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {



}

@media screen and (max-width: 1400px) {
    #bg {
        overflow: hidden;
        /* position: fixed; */
    }

}
